<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/880bab86-48d4-45a8-b80a-2aba6aed4500/resourceGroups/App_group/providers/Microsoft.Web/sites/AppTest</ResourceId>
    <ResourceGroup>App_group</ResourceGroup>
    <ApiResourceId>/subscriptions/880bab86-48d4-45a8-b80a-2aba6aed4500/resourceGroups/App_group/providers/Microsoft.ApiManagement/service/AplicacionClienteapi/apis/AplicacionCliente</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apptest-badaauhuerdgf0ez.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e8d7cc06-d6c9-4e84-8f41-cb5d6bd7258f</ProjectGuid>
    <MSDeployServiceURL>apptest-badaauhuerdgf0ez.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AppTest</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYmf666AwXUCBp9DLMaTTxwAAAAACAAAAAAAQZgAAAAEAACAAAAAIUjYYt65DOzfg1XJarok/SIyaN2h7T4xrJuoS5ng0TgAAAAAOgAAAAAIAACAAAAAKizXYtV3EhCaa9dm2BtohLv0ti0AYNJob4XYnxz2VuSAAAAAOxMPvM1Kl1aljyf2rDtbqxCVgZ2/I08JNudwPA+BFUkAAAABPC/0RnZPIZf98OqlgJc/R0SUFXKhdbd9TMR/UpQVS7oweH9XCqfuEDzqpCZd1wNgLFb8gSNEKdX9Wu4sA+gPy</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>